<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @company.username %> , Your password has been changed  </h1>
    <h3> if you changed it , you can ignore this message <h3>
    <h3> If you didn't , please click the link to recover your password <%= @url %> <h3>
  </body>
</html>