<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>To recover your acount password, Please click the link </h3>
    <br/>
    <%= @url %>
    
  </body>
</html>