<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to our project management system, <%= @company.companyname %></h1>
    <p>
      You have successfully signed up ,
      your username is: <%= @company.username %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>